<div class="carousel slide" id="myCarousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
    <li data-slide-to="1" data-target="#myCarousel"></li>
    <li data-slide-to="2" data-target="#myCarousel"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" id="slide1">
      <div class="carousel-caption">
        <h4>Childhood</h4>
        <p>Dynamically repurpose out-of-the-box experiences for economically sound manufactured products. Intrinsicly </p>
      </div><!-- end carousel-caption-->
    </div><!-- end item -->

    <div class="item" id="slide2">
      <div class="carousel-caption">
        <h4>Education</h4>
        <p>Dynamically repurpose out-of-the-box experiences for economically sound manufactured products. Intrinsicly </p>
      </div><!-- end carousel-caption-->
    </div><!-- end item -->

    <div class="item" id="slide3">
      <div class="carousel-caption">
        <h4>Best Art </h4>
        <p>Dynamically repurpose out-of-the-box experiences for economically sound manufactured products. Intrinsicly </p>
      </div><!-- end carousel-caption-->
    </div><!-- end item -->
  </div><!-- carousel-inner -->

  <!-- Controls -->
  <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
  <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>

</div><!-- end myCarousel -->

<div class="row" id="bigCallout">
  <div class="col-12">

    <div class="well">
      <div class="page-header">
        <h1>Wegayehu Negatu</h1>
      </div><!-- end page-header -->

      <p class="lead">
        Wegayehu Negatu was one of Ethiopia’s most celebrated figures in the creative arts
        & theatre industry, who also worked as a renowned radio broadcaster,
        newspaper columnist and at times as a comedian.
        He was born in June 1944 in Qebenna, Addis Ababa.
        Wegayehu attended the Swedish Evangelical Mission School
        and went on to complete his secondary education at Teferi Makonnen Secondary College.</p>

      <a href="" class="btn btn-large btn-primary" id="alertMe">Watch performances</a>
      <a href="" class="btn btn-large btn-link">or visit Gallery</a>

    </div><!-- end well -->

  </div><!-- end col-12 -->
</div><!-- end bigCallout -->



<div class="row" id="moreInfo">
  <div class="col-sm-6">
    <h3 class="white_text">Brief Background</h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab" class="white_text">Education</a></li>
        <li><a href="#tab2" data-toggle="tab" class="white_text">Early plays</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <br /><br />
          <img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">

          <p class="white_text">In his high school years, he was known for his humor and comic portrayal
            of film characters, especially during the numerous outings of the Ethiopian Boy Scouts.
            After graduation in 1963, he joined the Haile Sellassie I University's
            Creative Arts & Theatre Program, where he studied the art of plays and stage production.
          </p>
          <hr>
          <br /><br />
          <img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">

          <p class="white_text">In the last 10 years of his life, he played a vital role in immortalizing the
            written word by single handedly reaching out to a much wider audience of Ethiopians through
            his masterly narration of books such as Hadis Alemayehu’s Fikir Eske Mekabir or Love Unto Crypt
            and Berhanu Zerihun’s Ma’ibel or Storm.  Listeners, to this day, remember being glued to the radio every
            week at 7 in the morning just to hear the characters being brought to life by this talented artist.
          </p>
          <hr>
          <br /><br />
          <img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">

          <p class="white_text">Wegayehu was ever modest, downplaying his talent and always striving to give his best to
            the audience that had given him due honor.
            A lot of his fellow artists, who are still alive, remember how dedicated and thorough Wegayehu was while preparing for a play. He would completely immerse into his character minutes before performance and while on stage, he had the wonderful ability to control the hearts of his audience.

          </p>

        </div><!-- end tab-pane -->

        <div class="tab-pane" id="tab2">
          <br /><br />
          <img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">
          <p class="white_text">It was there where he first displayed his groundbreaking plays such as "Romeo and Juliet",
            Samuel Becket's "Waiting for God" and Menghistu Lemma's "Marriage among Unequals" and "Marirage
            by Abduction".
          </p>
          <hr>
          <br /><br />
          <img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">
          <p class="white_text">During the 1970s, Wegayehu acted in plays such as Tsegaye GebreMedhin's YeKermo Sew or Here to stay,
            Petros Yachin Saat or Petros at that hour and Yilma Manaye's Zerray Deresse.
          </p>
          <hr>
          <br /><br />
          <img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">
          <p class="white_text">From 1974 to the day of his untimely death in December of 1989, Wegayehu worked as an actor
            and an inspiring teacher at the National Theater. A majority of the total 30 theatrical plays
            he performed in his career were staged during these years.  Among them were Berhanu Zerihun's Moresh and Tsegaye GebreMedhin’s Ha-hu be Sidist Wer or ABC in six months.

          </p>

        </div><!-- end tab-pane -->
      </div><!-- end tab-content -->
    </div><!-- end tabbable -->
  </div><!-- end col-sm-6 -->

  <div class="col-sm-6">

    <a  class="list-group-item">
      <h4 class="list-group-item-heading">Art in Budapest </h4>
      <p class="list-group-item-text">Wegayehu went to the Hungarian capital of Budapest for two years to study modern theatre,
        culminating in a well-received performance of Hungarian plays at the famous Madaç Theatre in Budapest.
        Years later, the President of Hungary, on hearing the death of Wegayehu, was to remark on the merits of
        this Ethiopian artist who had captivated
        the Hungarian people in 1967 while performing ‘Pantomim’ in their own language.</p>
    </a>

    <div class="list-group">
      <a class="list-group-item">
        <h4 class="list-group-item-heading">Creative Arts & Theatre Center</h4>
        <p class="list-group-item-text">After a year of unsuccessful attempts back in Ethiopia at finding a job
          in the arts, Wegayehu went back to the Addis Ababa’s Creative Arts & Theatre Center,
          this time working as the centre’s director until 1970.</p>
      </a>
      <a  class="list-group-item">
        <h4 class="list-group-item-heading">Creative Performances</h4>
        <p class="list-group-item-text"> He subsequently worked as an actor in Hager Fikir Theatre in central
          Addis Ababa for a year, thereupon joining the radio and television department of the Ministry
          of Information. Tuners to the airwaves during those years are believed to have witnessed the
          highly creative performances of Wegayehu in advertisements and plays that were beginning
          to be prevalent and, with his help, popular. One also remembers his pioneering work in
          popularizing the art of miming on the national TV.</p>
      </a>
      <a  class="list-group-item">
        <h4 class="list-group-item-heading">Nigatu's Marriage</h4>
        <p class="list-group-item-text">Wegayehu got married in 1970 to AmsaleGenet Yimer,
          an employee of the Press Ministry.  They had three children, and were later to cooperate
          on several plays with AmsaleGenet as producer.</p>
      </a>
      <a  class="list-group-item">
        <h4 class="list-group-item-heading">Nigatu The Person</h4>
        <p class="list-group-item-text">As a person, Wegayehu will always be remembered as a kind and generous
          person. What distinguished him from the many other actors is his superb ability to assume the complex
          role of characters during performances and to incorporate their personalities as if they were his own.
          As a result of his great performances and acting ability, many of his colleagues to feel nostalgic
          about him and use his legend as an inspiration and goal to live up to. Truly, Wegayehu was our jewel
          and an outstanding actor. SEED posthumously thanks Wogayehu for enriching our lives and for all the
          positive contributions he has left behind. Although Wegayehu Nigatu may have passed at the age of 46,
          his great works and deeds will live forever. "</p>
      </a>
      <a  class="list-group-item">
        <h4 class="list-group-item-heading">Nigatu is alive</h4>
        <p class="list-group-item-text">Wegayehu died at the age of 46. However his works during his
          lifetime and his name are much alive and continue to be so.</p>
      </a>
    </div><!-- list-group -->

  </div><!-- end col-sm-6 -->
</div><!-- end moreInfo -->

<hr>

