<% if !user_signed_in? %>
    <div class="jumbotron">

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object thumbnail" src="http://blengrafix.com/wegayehu/images/index_07.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"> Biography in Brief</h4>

          <p>Wegayehu Nigatu was born on Ginbot 28, 1936 (June 5, 1944 Gregorian calendar) in a neighborhood
            known as Kebena in Addis Ababa city from his mother Mrs. Amsale Beyene and his father Mr.
            Nigatu Bizuneh. When Wegayehu reached school age he entered the Swedish Evangelical Missionary
            School and completed primary education. He then continued his learning and graduated from
            Teferi Mekonnen High School.</p>

          <p> Wegayehu further attended courses in theatrical arts at the national university and later went to Budapest,
            Hungary for further study. Completing his study in good standing he returned to his
            home country and continued to serve superbly in the field of his qualification, enjoying
            high popularity and admiration, until he passed away.</p>

        </div>
      </div>
      <p><%= link_to "Review his Art", new_user_registration_path, class: "btn btn-primary btn-lg pull-right" %></p>
    </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </div>
  <% end %>
</div>


